version: '3'

services:
  mikhmon:
    # Kita gunakan image PHP+Apache standar yang stabil
    image: php:7.4-apache
    container_name: mikhmon-voucher
    restart: always
    ports:
      - "8080:80"
    volumes:
      # PENTING: Titik (.) artinya folder laptop saat ini
      # Kita masukkan ke folder /var/www/html di dalam container
      - ./:/var/www/html
    environment:
      - TZ=Asia/Makassar
    # Kita tambahkan perintah agar saat nyala, dia otomatis install ekstensi yang kurang
    command: >
      bash -c "docker-php-ext-install mysqli && apache2-foreground"