version: '3'
services:
  mikhmon:
    build: . 
    container_name: mikhmon-pi-final
    restart: always
    ports:
      - "8081:80"
    volumes:
      # --- PERSISTENCE ---
      - ./include/config.php:/var/www/html/include/config.php
      - ./mikhmon_session:/var/www/html/mikhmon_session
      - ./error.php:/var/www/html/error.php
      - ./lang/id.php:/var/www/html/lang/id.php
      - ./index.php:/var/www/html/index.php
      
      # --- DATABASE PERSISTENCE (BARU) ---
      # Folder ini akan menyimpan file mikhmon_stats.db
      - ./db_data:/var/www/html/db_data

      # --- CONFIG PHP ---
      - ./custom.ini:/usr/local/etc/php/conf.d/custom.ini
      - ./.htaccess:/var/www/html/.htaccess
      - ./cekip.php:/var/www/html/cekip.php

      # --- INJEKSI KODE CUSTOM ---
      - ./report/selling.php:/var/www/html/report/selling.php
      - ./report/audit.php:/var/www/html/report/audit.php
      - ./report/livereport.php:/var/www/html/report/livereport.php

      # Tambahkan file sinkronisasi baru ini
      - ./report/sync_stats.php:/var/www/html/report/sync_stats.php 
      - ./report/sync_sales.php:/var/www/html/report/sync_sales.php 
      
      - ./include/menu.php:/var/www/html/include/menu.php
      - ./include/login.php:/var/www/html/include/login.php
      - ./include/headhtml.php:/var/www/html/include/headhtml.php
      - ./admin.php:/var/www/html/admin.php
      - ./dashboard/home.php:/var/www/html/dashboard/home.php
      - ./dashboard/aload.php:/var/www/html/dashboard/aload.php
      - ./hotspot/generateuser.php:/var/www/html/hotspot/generateuser.php
      - ./hotspot/users.php:/var/www/html/hotspot/users.php
      - ./hotspot/hotspotactive.php:/var/www/html/hotspot/hotspotactive.php
      - ./hotspot/hosts.php:/var/www/html/hotspot/hosts.php
      - ./voucher/print.php:/var/www/html/voucher/print.php
      - ./dhcp/dhcpleases.php:/var/www/html/dhcp/dhcpleases.php
      - ./process/removehotspotuserbycomment.php:/var/www/html/process/removehotspotuserbycomment.php

      # Kemanan Script Hapus Fungsi Add User Dan QuickUser
      - ./hotspot/adduser.php:/var/www/html/hotspot/adduser.php
      - ./hotspot/quickuser.php:/var/www/html/hotspot/quickuser.php

      # --- ASET ---
      - ./img:/var/www/html/img
      - ./voucher/template-thermal.php:/var/www/html/voucher/template-thermal.php
      - ./voucher/template-small.php:/var/www/html/voucher/template-small.php
      - ./voucher/template.php:/var/www/html/voucher/template.php

    environment:
      - TZ=Asia/Makassar